* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New";
}

body {
  background-color: rgb(42, 148, 235);
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.search {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  background-color: rgb(6, 95, 168);
  border: 2px solid rgb(6, 84, 148);
  color: #fff;
}

::placeholder {
  color: #fff;
}

.cards {
  width: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 95, 168);
  border: 2px solid rgb(6, 84, 148);
  border-radius: 10px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
